<!DOCTYPE html>
<html>
<head>
    <title>Cuaderno de laboratorio</title>
    <meta charset='utf-8' />
    <link href='static/style.css' rel='stylesheet' />
</head>
<body>
  <header id="main-header">
    <a id="logo-header" href="#">
      <span class="site-name">Cuaderno de laboratorio</span>
    </a> <!-- / #logo-header -->
  </header><!-- / #main-header -->
  <div class="details">
    <span id="author" class="author">Juan Marco Bujjamer</span><br>
    <span id="email" class="email"><a href="mailto:jubujjamer@df.uba.ar">jubujjamer@df.uba.ar</a></span><br>
  </div>

  <header id="main-header">
    <a id="logo-header" href="#">
      <span class="site-name">Indice general del cuaderno de laboratorio</span>
    </a> <!-- / #logo-header -->
  </header><!-- / #main-header -->

  <p><a href="file:////home/juan/lab_notebook/inventario/inventario.ods">Inventario</a></p>
  <p><a href="./calendar">Calendario</a></p>
</body>
</html>
