<!DOCTYPE html>
<html>
<head>
    <title>Cuaderno de laboratorio</title>
    <meta charset='utf-8' />
    <link href='static/style.css' rel='stylesheet' />
</head>
<body>
  <header id="main-header">
    <a id="logo-header" href="#">
      <span class="site-name">Cuaderno de laboratorio</span>
    </a> <!-- / #logo-header -->
  </header><!-- / #main-header -->
  <div class="details">
    <span id="author" class="author">Juan Marco Bujjamer</span><br>
    <span id="email" class="email"><a href="mailto:jubujjamer@df.uba.ar">jubujjamer@df.uba.ar</a></span><br>
  </div>

  <header id="main-header">
    <a id="logo-header" href="#">
      <span class="site-name">Indice general</span>
    </a>
  </header>

  <p><a href="file:////home/lec/lab_notebook/inventario/inventario.ods">Inventario</a></p>
  <p><a href="./calendar">Calendario</a></p>

  <header id="main-header">
    <a id="logo-header" href="#">
      <span class="site-name"> Resumen de contenido</span>
    </a> <!-- / #logo-header -->
  </header><!-- / #main-header -->

 {% macro create_year_block(year) %}
    <h3>{{year}}</h3>
 {% endmacro %}

 {% macro create_month_block(title) %}
    <h4>{{title}}</h4>
 {% endmacro %}

 {% macro create_day_block(title) %}
    <h2><a href="file://////home/lec/lab_notebook/content/2016-02-17/2016-02-17.html" class="bare"> {{title}} </a></h2>
 {% endmacro %}

 {% macro add_summary_entry(summary) %}
    <h5>{{summary}}</h5>
 {% endmacro %}

 {% for title, dtype in dates %}
    {% if dtype == "year" %}
        {{ create_year_block(title) }}
    {% elif dtype == "month" %}
        {{ create_month_block(title) }}
    {% elif dtype == "day" %}
        {{ create_day_block(title) }}

    {% elif dtype == "summary" %}
        {{ add_summary_entry(title) }}
    {% endif %}
 {% endfor %}


</body>
</html>
