<html>
  <head>
    <title> FPM Imaging </title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}"/>
  </head>
  <body>
    <header id="main-header">
      <a id="logo-header" href="#">
        <span class="site-name">Índice del cuaderno de laboratorio</span>
      </a> <!-- / #logo-header -->
    </header><!-- / #main-header -->
        <img src='\testcam' onerror="this.src='static/img/lines0_0.png'" class = "viewer">
      <!-- <img src='static/img/lines0_0.png' class = "test"/> -->
      <div align = "middle" class="buttons">
      <form action = "./action" method = "post">
            <p>Change coordinates to fit the spot</p>
            <div id="from">
              <button name="controls" value="phi_up" type="submit">&phi;&uarr;</button>
              <button name="controls" value="phi_down" type="submit">&phi;&darr;</button>
              <input type = "text" name = "input_phi" value={{phi}}>
              <label for="phi"> &phi;: {{phi}} </label>
            </div>
            <div id="from">
              <button name="controls" value="theta_up" type="submit">&theta;&uarr;</button>
              <button name="controls" value="theta_down" type="submit">&theta;&darr;</button>
              <input type = "text" name = "input_theta" value={{theta}}>
              <label for="theta"> &theta;: {{theta}} </label>
            </div>
            <div id="from">
              <button name="controls" value="shift_up" type="submit">&Delta;&larr;</button>
              <button name="controls" value="shift_down" type="submit">&Delta;&rarr;</button>
              <input type = "text" name = "input_shift" value={{shift}}>
              <label for="shift"> &Delta;: {{shift}} </label>
            </div>
            <div id="from">
              <button name="controls" value="ls_up" type="submit">LON</button>
              <button name="controls" value="ls_down" type="submit">LOFF</button>
            </div>
            <div id="from" >
              <label for="saveparams"> Or enter angles in textboxes </label>
              <p><button name="controls" value="textboxes_input" type="submit" id="bigbutton" >Set parameters</button></p>
            </div>
            <div id="from" >
              <label for="saveparams"> Once fit, save this parameters </label>
              <p><button name="controls" value="append_parameter" type="submit" id="bigbutton" >Append data parameter</button></p>
              <p><button name="controls" value="save_parameters" type="submit" id="bigbutton" >Save parameters</button></p>

            </div>
            <div id="from" >
              <label for="shift"> &Delta;</label>
              <input name="controls" type="range"  min="0" max="100" class="slider-width100" value={{shift}} step="1" onchange="showValue(this.value)"/>
              <span id="range">0</span>
            </div>
        </form>
      </div>
      <script type="text/javascript">
        function showValue(newValue)
        {
        	document.getElementById("range").innerHTML=newValue;
        }
      </script>

      <table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr><th class="month" colspan="7">julio 2009</th></tr>
    <tr><th class="sun">dom</th><th class="mon">lun</th><th class="tue">mar</th><th class="wed">mi&#233;</th><th class="thu">jue</th><th class="fri">vie</th><th class="sat">s&#225;b</th></tr>
    <tr><td class="noday"> </td><td class="noday"> </td><td class="noday"> </td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td></tr>
    <tr><td class="sun">5</td><td class="mon">6</td><td class="tue">7<br />cool!</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td></tr>
    <tr><td class="sun">12</td><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td></tr>
    <tr><td class="sun">19</td><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td></tr>
    <tr><td class="sun">26</td><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday"> </td></tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr><th class="month" colspan="7">julio 2009</th></tr>
    <tr><th class="sun">dom</th><th class="mon">lun</th><th class="tue">mar</th><th class="wed">mi&#233;</th><th class="thu">jue</th><th class="fri">vie</th><th class="sat">s&#225;b</th></tr>
    <tr><td class="noday"> </td><td class="noday"> </td><td class="noday"> </td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td></tr>
    <tr><td class="sun">5</td><td class="mon">6</td><td class="tue">7<br />cool!</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td></tr>
    <tr><td class="sun">12</td><td class="mon">13</td><td class="tue">14<br />cool!</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td></tr>
    <tr><td class="sun">19</td><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td></tr>
    <tr><td class="sun">26</td><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday"> </td></tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr><th class="month" colspan="7">julio 2009</th></tr>
    <tr><th class="sun">dom</th><th class="mon">lun</th><th class="tue">mar</th><th class="wed">mi&#233;</th><th class="thu">jue</th><th class="fri">vie</th><th class="sat">s&#225;b</th></tr>
    <tr><td class="noday"> </td><td class="noday"> </td><td class="noday"> </td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td></tr>
    <tr><td class="sun">5</td><td class="mon">6</td><td class="tue">7<br />cool!</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td></tr>
    <tr><td class="sun">12</td><td class="mon">13</td><td class="tue">14<br />cool!</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td></tr>
    <tr><td class="sun">19</td><td class="mon">20</td><td class="tue">21<br />cool!</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td></tr>
    <tr><td class="sun">26</td><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday"> </td></tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr><th class="month" colspan="7">julio 2009</th></tr>
    <tr><th class="sun">dom</th><th class="mon">lun</th><th class="tue">mar</th><th class="wed">mi&#233;</th><th class="thu">jue</th><th class="fri">vie</th><th class="sat">s&#225;b</th></tr>
    <tr><td class="noday"> </td><td class="noday"> </td><td class="noday"> </td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td></tr>
    <tr><td class="sun">5</td><td class="mon">6</td><td class="tue">7<br />cool!</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td></tr>
    <tr><td class="sun">12</td><td class="mon">13</td><td class="tue">14<br />cool!</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td></tr>
    <tr><td class="sun">19</td><td class="mon">20</td><td class="tue">21<br />cool!</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td></tr>
    <tr><td class="sun">26</td><td class="mon">27</td><td class="tue">28<br />cool!</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday"> </td></tr>
    </table>

  </body>
</html>
